.showPaciente {
    height: 35em;
    background-color: aqua;
    display:flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.pacienteShowCard {
    margin: 1em;
    padding: 0;

    height: 10em;
    width: 33em;

    background-color:beige;
    color:black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    border-radius: 1em;
    border: 0.1em solid black;
}

.lettering {
    color: black;
    font-weight: bold;

    font-size: large;
    font-family: Cambria ;
}

.title {
    color: black;

    font-size: large;
    font-family: Cambria ;
}

.infinite-scroll-container-polizas {
    width: 100vw;
    background-color: aqua;
    overflow: auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.pestañasDiv {
    display: flex;
    flex-direction: row;
}

.pestaña {
    margin: 1em;

    color: black;
    font-weight: bold;

    font-size: large;
    font-family: Cambria ;

    transition: 0.2s;
    cursor: pointer;

    display:flex;
    justify-content: center;
}

.pestaña:hover {
    transition: 0.2s;
    color: darkcyan;
}