.pacientes {
    background-color: aqua;
    height: 38em;
}

.subHeader{
    height: 5vh;
    width: 100vw;
    background-color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.infinite-scroll-container {
    width: 100vw;
    overflow: auto;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}