.pacienteDesign { 
    margin: 1em;
    padding: 0;

    height: 10em;
    width: 25em;

    /* background-color:beige; */
    background-image:url(https://iili.io/JBheyuV.md.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    color:black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    border-radius: 1em;
    border: 0.1em solid black;

}

.buttonClicker:hover {
    transition: 0.2s;
    color: darkcyan;
    cursor: pointer;
}

.bold {
    font-weight:bold;
}

.modal-design-body {
    height: 20em;
    width: 56.5em;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lettering {
    font-family: Cambria ;
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
}