.polizaDesign {
    margin: 1em;
    padding: 0;

    height: 11em;
    width: 27em;
    /* background-color:beige; */
    background-image:url(https://iili.io/JBheyuV.md.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    color:black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    border-radius: 1em;
    border: 0.1em solid black;
}