.header {
    height: 1.5em;
    width: 100em;

    background-color:rgb(239,245,246);
    /* background-image:url(https://iili.io/JBwRnQS.md.jpg); */
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonClicker {
    margin: 1em;

    color: black;
    font-weight: bold;

    font-size: large;
    font-family:'Times New Roman';

    transition: 0.2s;
    cursor: pointer;

    display:flex;
    justify-content: center;
}

.buttonClicker:hover {
    transition: 0.2s;
    color: darkgrey;
}


