.home {
    background-color: aqua;
}

.infinite-scroll-container {
    width: 100vw;
    overflow: auto;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}